.more-link {
  display: none;
}

.down-arrow {
  transform: rotate(0deg);
  transition: all 0.15s linear 75ms;
}

.active-arrow {
  transform: rotate(180deg);
}

.link-a a{
  @apply transition-all;
}
