@tailwind base;
@tailwind components;
@tailwind utilities;

.more-link {
  display: none;
}

.down-arrow {
  transform: rotate(0deg);
  transition: all 0.15s linear;
}

.active-arrow {
  transform: rotate(180deg);
}

.link-a a {
  @apply transition-all;
}
